<app-template>
    <!-- Modal to read comments -->
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-body">
                <div class="col-md-12">
                    <div *ngIf="modalShow" class="alert alert-secondary text-center">
                        <label style="width: 100%; height:35px;">{{popupErrorMessage}}</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div *ngIf="!modalShow" class="alert alert-secondary text-center">
                        <label style="width: 100%; height:35px;">Loading...........</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to apply Filters -->
    <div bsModal #lgModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="dialog-sizes-name1" class="modal-title pull-left">Select Filters</h4>
                    <button type="button" class="close pull-right" (click)="lgModal1.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label> Book Type: </label>
                    <select style="width: 200px; height:35px;" [(ngModel)]="filterGenres">
                        <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
                    </select>
                    <br>
                    <br>
                    <label> Star Rating: </label>
                    <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
                    <br>
                    {{'min:' + value}}
                    {{'max:' + highValue}}
                    <br>
                    <button type="button" style="width: 120px;" (click)="applyFilter()" (click)="lgModal1.hide()" class="btn btn-primary">
                        Apply Filters</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show Records -->
    <div class="set">
        <button type="button" *ngIf="FilterShow" style="width: 120px;" (click)="lgModal1.show()" class="btn btn-primary">
            Filters</button>
        <button type="button" *ngIf="!FilterShow" style="width: 120px;" (click)="checkFilter()" class="btn btn-secondary">
            Reset Filters</button>
        <br>
        <br>
        <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Book Genres</th>
                    <th>Book Details</th>
                    <th>Avg. Rating</th>
                    <th>Book Owner</th>
                    <th style="width: 100px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td *ngIf="show">{{book.book_name}}</td>
                    <td *ngIf="show">{{book.book_genres}}</td>
                    <td *ngIf="show">{{book.book_details}}</td>
                    <td *ngIf="show && book.avg">{{book.avg}}</td>
                    <td *ngIf="show && !book.avg">Not Rated</td>
                    <td *ngIf="show">{{book.user_email}}</td>
                    <!-- <td>1</td> -->
                    <td *ngIf="show">
                        <button class="btn btn-default" data-toggle="tooltip" title="Request Book" (click)="requestBook(book.book_id)"><span
                                class="glyphicon glyphicon-ok"></span></button>
                        &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-default" (click)="showComments(book.book_id)" (click)="lgModal.show(template)"
                            data-toggle="tooltip" title="Read Comments"><span class="glyphicon glyphicon-comment"></span></button>
                    </td>
                    <!-- <td *ngIf="show"><button class="btn btn-default" data-toggle="tooltip" title="Request Book" (click)="requestBook(book.book_id)"><span
                                class="glyphicon glyphicon-ok"></span></button></td>
                    <td *ngIf="show"><button class="btn btn-default" (click)="showComments(book.book_id)" (click)="lgModal.show(template)"
                            data-toggle="tooltip" title="Read Comments"><span class="glyphicon glyphicon-comment"></span></button></td> -->
                    <!-- <td colspan="7" *ngIf="!show">
                        <div class="alert alert-secondary text-center">
                            <strong>{{showmessage}}</strong>
                        </div>
                    </td> -->
                    <td *ngIf="!show" colspan="7">
                        <div class="alert alert-secondary text-center">
                            <strong>{{showmessage}}</strong>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <notifier-container></notifier-container>
    </div>
    <ng4-loading-spinner> </ng4-loading-spinner>

</app-template>