<app-template>
    <h1 class="display-4"><em>Profile</em></h1>
    <hr>
    <table class="set" datatable>
        <tbody>
            <tr>
                <td><label>Full Name:</label></td>
                <td>
                    <input style="width: 200px; height:35px;" disabled type="text" [(ngModel)]="user.user_name">
                </td>
            </tr>
            <tr>
                <td><label>Email Address:</label></td>
                <td>
                    <input style="width: 200px; height:35px;" disabled type="text" [(ngModel)]="user.user_email">
                </td>
            </tr>
            <tr>
                <td><label>Mobile Number:</label></td>
                <td>
                    <input style="width: 200px; height:35px;" type="number" (input)="onMobileInput($event)" [(ngModel)]="user.user_mobile">
                </td>
            </tr>
            <tr>
                <td><label>Address:</label></td>
                <td>
                    <textarea rows="3" cols="40" (input)="onAddressInput($event)" [(ngModel)]="user.user_address"></textarea>
                </td>
            </tr>
            <tr>
                <td><label>City:</label></td>
                <td>
                    <input style="width: 400px; height:35px;" (input)="onCityInput($event)" type="text" [(ngModel)]="user.user_city">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="button" [disabled]="buttonFlag" (click)="Save()" style="width: 200px; height:35px;"
                        class="btn btn-primary">Save</button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="button" (click)="Cancel()" style="width: 200px; height:35px;" class="btn btn-secondary">Cancel</button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <!-- {{mobileMessage}} -->
    <notifier-container></notifier-container>
    <ng4-loading-spinner> </ng4-loading-spinner>

</app-template>