<app-template>

  <h1 class="display-4"><em>Add Book</em></h1>
  <hr>
  <table class="set" datatable>
    <tbody>
      <tr>
        <td><label>Book Owner:</label></td>
        <td></td>
        <td>
          <input style="width: 200px; height:35px;" disabled type="text" [(ngModel)]="book.user_email">
        </td>
      </tr>
      <tr>
        <td><label>Book Name:</label></td>
        <td></td>
        <td>
          <input style="width: 200px; height:35px;" (input)="onNameInput($event)" type="text" [(ngModel)]="book.book_name">
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <div *ngIf="nameCondition" style="width: 200px; height: 40px;" class="alert alert-danger">
            <strong>{{nameMessage}}</strong>
          </div>
        </td>
      </tr>
      <tr>
        <td><label>Genres:</label></td>
        <td></td>
        <td>
          <select style="width: 200px; height:35px;" [(ngModel)]="book.book_genres">
            <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Book Details:</label></td>
        <td></td>
        <td>
          <textarea rows="3" cols="40" (input)="onDetailsInput($event)" [(ngModel)]="book.book_details"></textarea>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <button type="button" [disabled]="!book.book_genres || buttonFlag" (click)="Save()" style="width: 200px; height:35px;" class="btn btn-primary">Save</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <button type="button" (click)="Cancel()" style="width: 200px; height:35px;" class="btn btn-secondary">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
  <notifier-container></notifier-container>
  <ng4-loading-spinner> </ng4-loading-spinner>

</app-template>