<app-template>
  <h1 class="display-4"><em>Notifications</em></h1>
  <hr>
  <table datatable>
    <thead>
      <tr>
        <th>Notification</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="show">
        <tr *ngFor="let notification of notifications">
          <td style="width: 100%;">{{notification.notification_message}}</td>
          <td *ngIf="notification.notification_type == 'request'">
            <button class="btn btn-default" data-toggle="tooltip" title="Accept" (click)="Accept(notification.book_id , notification.notification_from)"><span
                class="glyphicon glyphicon-ok"></span></button>
          </td>
          <td *ngIf="notification.notification_type == 'request'">
            <button class="btn btn-default" data-toggle="tooltip" title="Reject" (click)="Reject(notification.book_id , notification.notification_from)"><span
                class="glyphicon glyphicon-remove"></span></button>
          </td>
          <td *ngIf="notification.notification_type == 'return'">
            <button class="btn btn-default" data-toggle="tooltip" title="Received" (click)="Received(notification.book_id , notification.notification_from)"><span
                class="glyphicon glyphicon-ok"></span></button>
          </td>
        </tr>
      </div>
      <tr>
        <td colspan="4" *ngIf="!show">
          <div class="alert alert-secondary text-center">
            <strong>{{message}}</strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <notifier-container></notifier-container>
  <ng4-loading-spinner> </ng4-loading-spinner>

</app-template>