<app-template>
    <h1 class="display-4"><em>Manage Books</em></h1>
    <hr>
    <div class="buttonSet">
        <button type="button" style="width: 120px;" (click)="importFileCall()" class="btn btn-primary"><span class="glyphicon glyphicon-file"></span>
            Import File</button>
        &nbsp;&nbsp;
        <button type="button" style="width: 120px;" (click)="formCall()" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span>
            Add</button>
    </div>

    <br>
    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th style="width: 20%;">Book Name</th>
                <th style="width: 15%;">Book Genres</th>
                <th style="width: 53%;">Book Details</th>
                <th style="width: 12%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td *ngIf="show && updateVal.book_name != book.book_name || updateVal.book_id != book.book_id">{{book.book_name}}</td>
                <td *ngIf="show && updateVal.book_name == book.book_name && updateVal.book_id == book.book_id">
                    <input type="text" [(ngModel)]="updateVal.book_name">
                </td>
                <td *ngIf="show && updateVal.book_genres != book.book_genres || updateVal.book_id != book.book_id">{{book.book_genres}}</td>
                <td *ngIf="show && updateVal.book_genres == book.book_genres  && updateVal.book_id == book.book_id">
                    <!-- <input type="text" [(ngModel)]="updateVal.book_genres"> -->
                    <select [(ngModel)]="updateVal.book_genres">
                        <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
                    </select>
                </td>
                <td *ngIf="show && updateVal.book_details != book.book_details || updateVal.book_id != book.book_id">{{book.book_details}}</td>
                <td *ngIf="show && updateVal.book_details == book.book_details  && updateVal.book_id == book.book_id">
                    <!-- <input type="text" [(ngModel)]="updateVal.book_details"> -->
                    <textarea rows="3" cols="40" [(ngModel)]="updateVal.book_details"></textarea>
                </td>
                <td *ngIf="show && !flag">
                    <button type="button" (click)="updateBook(book)" class="btn btn-default" data-toggle="tooltip"
                        title="Update"><span class="glyphicon glyphicon-wrench"></span></button>
                        &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-default" (click)="del(book.book_id)" data-toggle="tooltip"
                        title="Delete" (click)="lgModal.show(template)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
                <td *ngIf="show && updateVal.book_name == book.book_name && updateVal.book_id == book.book_id">
                    <button type="button" (click)="saveBook(book)" class="btn btn-default" data-toggle="tooltip" title="Save"><span
                            class="glyphicon glyphicon-ok"></span></button>
                </td>
                <td colspan="3" *ngIf="!show">
                    <div class="alert alert-secondary text-center">
                        <strong>{{showmessage}}</strong>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <notifier-container></notifier-container>

    <!-- Modal to verify is user really wants to delete the book record or not -->
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <label>Are you Sure you want to delete the book??</label>
                    <br>
                    <br>
                    <button type="button" style="width: 100px; height:35px;" (click)="lgModal.hide(template)" (click)="deleteBook()"
                        class="btn btn-outline-primary"> Yes </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" style="width: 100px; height:35px;" (click)="lgModal.hide(template)" class="btn btn-outline-secondary">
                        No </button>
                </div>
            </div>
        </div>
    </div>
    <ng4-loading-spinner> </ng4-loading-spinner>
</app-template>