<app-template>
  <h1 class="display-4"><em>Import File</em></h1>
  <hr>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-md-5">
      <div class="panel panel-default shadow p-4 mb-4 bg-white">
        <div class="panel-heading text-center">
          <label>Upload .xlsx file!</label>
        </div>
        <hr>
        <div class="panel-body">
          <input *ngIf="!progressShow" type="file" accept=".xlsx" name="photo" ng2FileSelect [uploader]="uploader" />
          <div *ngIf="progressShow" class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" [style.width]="progressVal + '%'">{{progressVal + '%'}}</div>
          </div>
          <br>
          <button type="button" *ngIf="!progressShow" class="btn btn-primary btn-s" (click)="uploader.uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-cloud-upload"></span> Upload .xlsx File
          </button>
          <button type="button" *ngIf="progressShow" [disabled]="buttonFlag" class="btn btn-primary btn-s" (click)="reset()">
            Upload another File
          </button>
          <p class="text-danger">*File must be .xlsx and less than 1 Mb in size</p>
          <hr>
          <a href="http://localhost:3000/downloadFile" download><span class="glyphicon glyphicon-cloud-download"></span>
            Download
            Template</a>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <notifier-container></notifier-container>
  <ng4-loading-spinner> </ng4-loading-spinner>
</app-template>