<app-template>
  <!-- Modal to input feedback -->
  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">Feedback Form for <label>{{bookName}}</label></h4>
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Rating:</label>
          <br>
          <span [class]="starClass1" (click)="rating(1)"></span>
          <span [class]="starClass2" (click)="rating(2)"></span>
          <span [class]="starClass3" (click)="rating(3)"></span>
          <span [class]="starClass4" (click)="rating(4)"></span>
          <span [class]="starClass5" (click)="rating(5)"></span>
          <br>
          <label>Comments:</label>
          <br>
          <textarea rows="5" cols="47" (input)="onCommentInput($event)" [(ngModel)]="comments"></textarea>
          <br>
          <button type="button" style="width: 200px; height:35px;" (click)="lgModal.hide()" [disabled]="flag" (click)="saveFeedback()"
            class="btn btn-outline-primary"> Save </button>
          <button type="button" style="width: 200px; height:35px;" (click)="lgModal.hide()" (click)="skipFeedback()"
            class="btn btn-outline-secondary"> Skip.. </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Table -->
  <h1 class="display-4"><em>Books on Hand</em></h1>
  <hr>

  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>Book Name</th>
        <th>Book Genres</th>
        <th>Book Details</th>
        <th>Book Owner</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td *ngIf="show">{{book.book_name}}</td>
        <td *ngIf="show">{{book.book_genres}}</td>
        <td *ngIf="show">{{book.book_details}}</td>
        <td *ngIf="show">{{book.user_email}}</td>
        <td *ngIf="show">
          <div *ngIf="ownerEmail != book.user_email && book.feedback_check == 'Pending'" class="col-md-2">
            <button class="btn btn-default" data-toggle="tooltip" title="Return Request" (click)="save(book.book_name, book.book_id, book.user_email, book.feedback_check)"
              (click)="lgModal.show(template)"><span class="glyphicon glyphicon-transfer"></span></button>
          </div>
          <div *ngIf="ownerEmail != book.user_email && book.feedback_check == 'Submitted'" class="col-md-2">
            <button class="btn btn-default" data-toggle="tooltip" title="Return Request" (click)="save(book.book_name, book.book_id, book.user_email, book.feedback_check)"><span
                class="glyphicon glyphicon-transfer"></span></button>
          </div>
        </td>
        <td colspan="5" *ngIf="!show">
          <div class="alert alert-secondary text-center">
            <strong>{{showmessage}}</strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <notifier-container></notifier-container>
  <ng4-loading-spinner> </ng4-loading-spinner>

</app-template>