.set {
  padding-top: 50px;
  width: 100%;
  }

/* .myCustomModalClass .modal-dialog {
  max-width: 565px;
} */

.glyphiconStar {
  padding-top: 2%;
  padding-right: 0%;
  color: rgb(66, 63, 63);
  font-size: 35px;
}

.glyphicon-star-gold {
  color: gold;
}