body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.marginRow{
    margin-bottom: -10px;
}

.navbar{
    border-radius:0 ;
    background: #111;
    color: #101010;
}
.img-circle{
    margin-left: 32px
}

.openToggle{
    position: fixed;
}

.mainSet{
    margin-left: 1%;    
}

.navfont{
    font-size: 17px;
    margin-left: -10px;
    /* color: rgb(179, 179, 179); */
}

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    /* font-optical-sizing: 75%; */
    color: rgb(179, 179, 179);
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    /* margin-left: 5%; */
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}
.active {
    color: white;
}
.dropdown-container {
    display: none;
    background-color: #101010;
    padding-left: 8px;
}
.fa-caret-down {
    float: right;
    padding-right: 8px;
}