<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
  crossorigin='anonymous'>

<div class="row">
  <div class="col-md-12">

    <nav class="navbar navbar-expand navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/Home"> Book Reader Store</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="navfont"><a routerLink="/Home"><span class="glyphicon glyphicon-home"></span></a></li>
            <!-- <li class="navfont"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/Home"><span
                  class="glyphicon glyphicon-home"></span></a></li> -->
            <li class="navfont"><a routerLink="/Profile"><span class="glyphicon glyphicon-user"></span></a></li>
            <li class="navfont"><a routerLink="/Notification">
                <div class="glyphicon glyphicon-bell"><span class="badge count">{{getCount()}}</span></div>
              </a></li>
            <li class="navfont"><a routerLink="/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-12">
    <div id="mySidenav" class="sidenav">
      <a>
        <img [src]="user_image" class="img-responsive img-circle" width="150" height="150" alt="">
      </a>
      <h1 class="font-weight-normal text-center text-white-50">{{user_name}}</h1>
      <br>
      <a routerLink="/Feedback"><span class="glyphicon glyphicon-list-alt"></span> Feedback</a>
      <a routerLink="/ManageBooks"><span class="glyphicon glyphicon-book"></span> Books</a>
      <button class="dropdown-btn"> <span class="glyphicon glyphicon-book"></span> Status <span class="glyphicon glyphicon-chevron-down"></span>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a routerLink="/Holding"><span class="glyphicon glyphicon-list"></span> Holding</a>
        <a routerLink="/Issue"><span class="glyphicon glyphicon-list"></span> Issued</a>
        <a routerLink="/Request"><span class="glyphicon glyphicon-list"></span> Requested</a>
      </div>
      <a routerLink="/Chat"><span class="far fa-comments"></span> Broadcast</a>
    </div>

    <div id="main">
      <br>
      <span style="font-size:40px;cursor:pointer" (click)="toggleNav()">&#9776;</span>
      <div class="mainSet">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>