<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->

<app-template>
  <!-- Modal to show error message if the comments object is empty -->
  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modal-body">
        <div *ngIf="modalShow" class="col-md-12">
          <div class="alert alert-secondary text-center">
            <label style="width: 100%; height:35px;">{{popupErrorMessage}}</label>
          </div>
        </div>
        <div *ngIf="!modalShow" class="col-md-12">
          <div class="alert alert-secondary text-center">
            <label style="width: 100%; height:35px;">Loading............</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="display-4"><em>Feedbacks</em></h1>
  <hr>

  <!-- Table -->
  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Average Rating</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td *ngIf="show">{{book.book_id}}</td>
        <td *ngIf="show">{{book.book_name}}</td>
        <td *ngIf="show">{{book.avg}}</td>
        <td *ngIf="show">
          <button class="btn btn-default" data-toggle="tooltip" title="Read Comments" (click)="showComments(book.book_id)"
            (click)="lgModal.show(template)"><span class="glyphicon glyphicon-comment"></span></button>
        </td>
        <td colspan="4" *ngIf="!show">
          <div class="alert alert-secondary text-center">
            <strong>{{showmessage}}</strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ng4-loading-spinner> </ng4-loading-spinner>

  <!-- </div> -->
</app-template>