<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<app-template>
  <input [(ngModel)]="message" placeholder="Message" (input)="onMessageInput($event)" (keyup)="$event.keyCode == 13 && sendMessage()"
    style="width: 85%; height:35px;" />
  &nbsp;&nbsp;
  <button (click)="sendMessage()" class="btn btn-secondary" style="width: 10%; height:35px;">Send</button>
  <hr>
  <div *ngFor="let message of messages">
    <div *ngIf="message.sender != name" class="card bg-light mb-3">
      <div class="card-body">
        <div class="col-md-1">
          <img [src]="message.user_image" class="img-responsive img-circle" width="50" height="50">
        </div>
        <div class="col-md-11 set">
          <p style="text-align:left;">
            {{message.sender}}
            <span style="float:right;">{{message.date}} , {{message.time}}</span>
          </p>
          {{message.message}}
        </div>
      </div>

    </div>
    <div *ngIf="message.sender == name" class="card text-white bg-dark mb-3" style="max-width: 100%;">
      <div class="card-body">
        <div class="col-md-1">
          <img [src]="message.user_image" class="img-responsive img-circle" width="50" height="50">
        </div>
        <div class="col-md-11 set">
          <p style="text-align:left;">
            You
            <span style="float:right;">{{message.date}} , {{message.time}}</span>
          </p>
          <p style="text-align:left;">
            {{message.message}}
            <span style="float:right;">
              <button type="button" class="close" aria-label="Close" (click)="deleteMessage(message.chat_id)">
                <span aria-hidden="true">&times;</span>
              </button>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="LoadMoreShow" class="text-center"><button type="button" (click)="loadMore()" class="btn btn-light">Load
      More Messages <span class="glyphicon glyphicon-menu-down"></span></button></p>
  <ng4-loading-spinner> </ng4-loading-spinner>
</app-template>