.close{
    color: antiquewhite;
}

/* .messageInput {
    position:fixed; 
    width: 100%;
    z-index: 0;
  }

  .messageOutput{
    margin-top: 5%;
    width: 94%;
    margin-left: 1%;
    z-index: -1;
  } */

  .set{
    padding-left: 0px;
  }