<app-template>
  <h1 class="display-4"><em>Requested Books</em></h1>
  <hr>

  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>Book Name</th>
        <th>Book Genres</th>
        <th>Book Details</th>
        <th>Book Owner</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td *ngIf="show">{{book.book_name}}</td>
        <td *ngIf="show">{{book.book_genres}}</td>
        <td *ngIf="show">{{book.book_details}}</td>
        <td *ngIf="show">{{book.user_email}}</td>
        <td *ngIf="show">
          <button class="btn btn-default" data-toggle="tooltip" title="Cancel Request" (click)="cancelRequest(book.request_by, book.book_id)"><span
              class="glyphicon glyphicon-remove"></span></button>
          <!-- <button class="btn btn-outline-secondary" (click)="cancelRequest(book.request_by, book.book_id)">Cancel Request</button> -->
        </td>
        <td colspan="5" *ngIf="!show">
          <div class="alert alert-secondary text-center">
            <strong>{{showmessage}}</strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <notifier-container></notifier-container>
  <ng4-loading-spinner> </ng4-loading-spinner>

</app-template>