<app-template>
  <h1 class="display-4"><em>Comments</em></h1>
  <hr>
  <button type="button" style="width: 120px;" (click)="lastPage()" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span>
    {{back}}</button>
  <br>
  <br>
  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>Name</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments">
        <td>{{comment.feedback_from}}</td>
        <td>{{comment.feedback_comments}}</td>
      </tr>
    </tbody>
  </table>
  <ng4-loading-spinner> </ng4-loading-spinner>
</app-template>