<app-template>
 <h1 class="display-4"><em>Issued Books</em></h1>
 <hr>

  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>Book Name</th>
        <th>Book Genres</th>
        <th>Book Details</th>
        <th>Current Holder</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td *ngIf="show">{{book.book_name}}</td>
        <td *ngIf="show">{{book.book_genres}}</td>
        <td *ngIf="show">{{book.book_details}}</td>
        <td *ngIf="show">{{book.issue_to}}</td>
        <td colspan="5" *ngIf="!show">
          <div class="alert alert-secondary text-center">
            <strong>{{showmessage}}</strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ng4-loading-spinner> </ng4-loading-spinner>
</app-template>